kaggle_survey_2020_answer_choices.pdf
kaggle_survey_2020_methodology.pdf
kaggle_survey_2020_responses.csv
.DS_Store
2017RespondentTypeREADME.txt
2017conversionRates.csv
2017freeformResponses.csv
2017multipleChoiceResponses.csv
2017schema.csv
2018SurveySchema.csv
2018freeFormResponses.csv
2018multipleChoiceResponses.csv
2019multiple_choice_responses.csv
2019other_text_responses.csv
2019questions_only.csv
2019survey_schema.csv
